.container {
  padding: 0 2rem;
  background-color: #000000;
}

.main {
  min-height: 100vh;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 12px;
  max-width: 500px;
  width: 90vw;
}
